<body class="sub_page">

<div class="hero_area">

</div>

<!-- contact section -->
<section class="contact_section  long_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <div class="heading_container">
            <h2>
              Créer client
            </h2>
          </div>
          <form action="">
            <div>
              <input type="number" placeholder="id" />
            </div>
            <div>
              <input type="text" placeholder="prenom" />
            </div>
            <div>
              <input type="text" placeholder="nom" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="number" placeholder="telephone" />
            </div>
            <div class="btn_box">
              <button>
                Envoyer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->


