<!-- slider section -->
<section class="slider_section long_section">
  <div id="customCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-5">
              <div class="detail-box">
                <h1>
                  Bienvenue chez <br>
                  SEN'EAU
                </h1>
                <p>
                  Découvrez notre système de compteurs d'eau prépayés, conçu pour vous offrir un contrôle total sur votre consommation d'eau </p>
                <p>Avec nos compteurs d'eau prépayés, vous pouvez gérer efficacement votre utilisation d'eau tout en contrôlant vos coûts</p>
                <div class="btn-box">
                  <a href="" class="btn1">
                    Contactez nous
                  </a>
                  <a href="" class="btn2">
                    À propos de nous
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="img-box">
                <img src="assets/images/eaun.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container ">
          <div class="row">
            <div class="col-md-5">
              <div class="detail-box">
                <h1>
                  Comment ça <br>
                  marche?
                </h1>
                <p>
                  Achetez un compteur d'eau prépayé chez l'un de nos partenaires.
                </p>
                <p>
                  Installez le compteur dans votre domicile selon les instructions fournies.
                </p>
                <p>
                  Rechargez votre crédit d'eau prépayé en ligne ou chez un revendeur agréé.
                </p>
                <p>
                  Surveillez votre consommation d'eau et rechargez votre compte lorsque nécessaire.
                </p>
                <div class="btn-box">
                  <a href="" class="btn1">
                    Contactez nous
                  </a>
                  <a href="" class="btn2">
                    À propos de nous
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="img-box">
                <img src="assets/images/eaup.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container ">
          <div class="row">
            <div class="col-md-5">
              <div class="detail-box">
                <h1>
                  Aissata pour <br>
                  vous servir...
                </h1>
                <p>
                  Je suis votre Digital Jambar.Je suis à votre écoute sur toutes nos plateformes digitales et prête à vous fournir toutes les informations dont vous aurez besoin.
                </p>
                <div class="btn-box">
                  <a href="" class="btn1">
                    Restons en contact!
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="img-box">
                <img src="assets/images/adama.png" alt="" style="max-width: 60%; height: auto;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#customCarousel" data-slide-to="1"></li>
      <li data-target="#customCarousel" data-slide-to="2"></li>
    </ol>
  </div>
</section>
<!-- end slider section -->

<!-- about section -->

<section class="about_section layout_padding long_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="assets/images/fontaine.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              À propos de nous
            </h2>
          </div>
          <p>
            Nous sommes une entreprise offrant des solutions innovantes pour la gestion de l'eau, mettant l'accent sur le contrôle de la consommation et la durabilité. Notre équipe d'experts s'engage à fournir des produits de qualité tout en soutenant l'accès à l'eau potable et les initiatives durables. Contactez-nous pour en savoir plus.
          </p>
          <a href="">
            Lire la suite
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

<!-- client section -->

<section class="client_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container">
      <h2>
        Foire aux questions
      </h2>
    </div>
    <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-11 col-lg-10 mx-auto">
              <div class="box">
                <div class="img-box">
                  <img src="assets/images/image.jpeg" alt="" />
                </div>
                <div class="detail-box">
                  <div class="name">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <h6>
                      Sokhna
                    </h6>
                  </div>
                  <p>Que se passe-t-il si mon crédit d'eau est épuisé?</p>
                  <p>Si votre crédit d'eau est épuisé, le compteur se fermera automatiquement jusqu'à ce que vous rechargiez votre compte</p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-11 col-lg-10 mx-auto">
              <div class="box">
                <div class="img-box">
                  <img src="images/test.jpg" />
                </div>
                <div class="detail-box">
                  <div class="name">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <h6>
                      Moctar
                    </h6>
                  </div>
                  <p>Comment puis-je vérifier le solde de mon compte d'eau?</p>
                  <p>Vous pouvez vérifier le solde de votre compte en vous connectant à votre compte en ligne</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Précédent</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span class="sr-only">Suivant</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- end client section -->
